<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fengziren.mapper.MessageMapper">
    <resultMap id="publicMessage" type="top.fengziren.modol.Message">
        <id column="m_id" property="mId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="m_time" property="mTime"/>
    </resultMap>

    <resultMap id="messageList" type="top.fengziren.modol.Message" extends="publicMessage">
            <result column="user_name" property="fName"/>
            <result column="status" property="status"/>
    </resultMap>
    <resultMap id="messageByUidAndMid" type="top.fengziren.modol.Message" extends="publicMessage">

        <result column="user_name" property="fName"/>
        <result column="susername" property="sUserName"/>
    </resultMap>
    <resultMap id="MessageByMessageSelectShou" type="top.fengziren.modol.Message" extends="publicMessage">
        <result column="status" property="status"/>
    </resultMap>
    <resultMap id="MessageBySidAndMidShou" type="top.fengziren.modol.Message" extends="publicMessage">
        <result column="user_name" property="fName"/>
        <result column="status" property="status"/>
        <result column="msg_id" property="msgId"/>
    </resultMap>


    <insert id="saveMessage" parameterType="top.fengziren.modol.Message" useGeneratedKeys="true" keyProperty="mId">
        INSERT INTO message
        (
        title,
        content,
        m_time
        )
        VALUES (
        #{title},
        #{content},
        #{mTime}
        )
    </insert>

    <select id="getMessageByMessageSelect" parameterType="top.fengziren.modol.MessageSelect" resultMap="messageList">
        SELECT DISTINCT
        me.m_id,
        me.title,
        me.content,
        me.m_time,
        us.user_name,
        mid.`status`
        FROM
        USER AS us
        JOIN msg AS ms ON us.u_id = ms.f_id
        JOIN message AS me ON ms.m_id = me.m_id
        JOIN (
        SELECT
        T.m_id,
        (
        CASE

        WHEN T.`count` = T.`sum` THEN
        '已读'
        WHEN T.`count` > T.`sum`
        AND T.`sum` = 0 THEN
        '未读'
        WHEN T.`count` > T.`sum`
        AND T.`sum` > 0 THEN
        '部分已读'
        END
        ) AS `status`
        FROM
        (
        SELECT
        me.m_id,
        count( me.m_id ) AS `count`,
        sum( ms.`status` ) AS `sum`
        FROM
        USER AS us
        JOIN msg AS ms ON us.u_id = ms.f_id
        JOIN message AS me ON ms.m_id = me.m_id
        WHERE
        us.u_id = #{fId}
        GROUP BY
        me.m_id
        ) T
        ) mid ON me.m_id = mid.m_id
        WHERE
        us.u_id = #{fId}
        AND ( ms.del_status = 0 OR ms.del_status = 2 )
        <if test="title != null and '' != title">
            AND me.title like concat('%',#{title},'%')
        </if>
        <if test="status != null and 0 == status">
            AND mid.`status` = '未读'
        </if>
        <if test="status != null and 1 == status">
            AND mid.`status` = '已读'
        </if>
        <if test="status != null and 2 == status">
            AND mid.`status` = '部分已读'
        </if>

        <if test="startTime != null and endTime != null">
            AND me.m_time between #{startTime} and #{endTime}
        </if>
        ORDER BY me.m_time DESC

    </select>

    <select id="getMessageByUidAndMid" resultMap="messageByUidAndMid">

    SELECT temp.m_id, temp.title,temp.content,temp.m_time,temp.user_name,GROUP_CONCAT(user.user_name) as susername FROM
        (SELECT me.m_id,me.title,me.content,me.m_time,us.user_name,ms.s_id
        from `user` as us join msg as ms
        on us.u_id = ms.f_id
        join message me
        on ms.m_id = me.m_id
        where us.u_id = #{uId} and me.m_id = #{mId}) temp
        JOIN user on temp.s_id = user.u_id
        GROUP BY temp.title,temp.content,temp.m_time,temp.user_name

    </select>
    <select id="getMessageByMessageSelectShou" resultMap="MessageByMessageSelectShou">
        SELECT me.m_id,
        me.title,
        me.content,
        me.m_time,
        (case ms.`status` when 1 THEN '已读' WHEN 0 THEN '未读' END) as `status`
        FROM msg ms join message me
        on ms.m_id = me.m_id
        WHERE
        ms.s_id = #{sId}
        <if test="status != null and status != 3">
            AND ms.`status` = #{status}
        </if>
        <if test="title != null and '' != title">
            AND me.title like concat('%',#{title},'%')
        </if>

        <if test="startTime != null and endTime != null">
            AND me.m_time between #{startTime} and #{endTime}
        </if>
        and (ms.del_status = 0 or ms.del_status = 1)

        ORDER BY me.m_time DESC
    </select>

    <select id="getMessageBySidAndMidShou" resultMap="MessageBySidAndMidShou">
        SELECT me.m_id,me.title,me.content,me.m_time,us.user_name,ms.status,ms.msg_id
        from `user` us join msg ms
        on us.u_id = ms.f_id
        join message me
        on ms.m_id = me.m_id
        where ms.s_id = #{sId} and me.m_id = #{mId}
    </select>

</mapper>
<!--AND #{endTime} > me.m_time and me.m_time > #{startTime}-->