<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fengziren.mapper.MsgMapper">
    <resultMap id="msgMap" type="top.fengziren.modol.Msg">
        <id column="msg_id" property="msgId"/>
        <result column="f_id" property="fId"/>
        <result column="s_id" property="sId"/>
        <result column="m_id" property="mId"/>
        <result column="del_status" property="delStatus"/>
    </resultMap>

    <insert id="saveListMsg" >
        INSERT INTO msg
        (
        f_id,
        s_id,
        m_id,
        status,
        del_status
        )
        VALUES
      <foreach item="item" index="index" collection="list"
               separator="," >
          (#{item.fId},#{item.sId},#{item.mId},#{item.status},#{item.delStatus})
      </foreach>
    </insert>

    <select id="getMsgsByUidAndMid" resultMap="msgMap">
        SELECT msg_id,f_id,s_id,m_id,del_status
        FROM msg
        WHERE
        f_id = #{uId} and m_id = #{mId}
    </select>

    <update id="updateMsgDelstatus" parameterType="top.fengziren.modol.Msg">
        UPDATE msg
        <if test="delStatus == 0">
            SET del_status = 1
        </if>
        <if test="delStatus == 2">
            SET del_status = 3
        </if>
        WHERE
        f_id =#{fId} and m_id = #{mId} and s_id = #{sId}

    </update>
    <update id="updateMsgStatusById">
        UPDATE msg
        SET status = 1
        WHERE msg_id = #{msgId}
    </update>
    <update id="updateMsgDelstatusBySid" >
        update msg
        set del_status =
       (SELECT if(del_status = 0,2,3) as  msg WHERE s_id = #{sId} and  m_id = #{mId})
        WHERE s_id = #{sId} AND m_id = #{mId}

    </update>
</mapper>
